@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<article>

    <div >

        <h1 class="title">An Overview of Career Services</h1>
        <h3>
            <a href="http://www.ldsbc.edu/index.php?option=com_content&amp;view=article&amp;id=935&amp;Itemid=755">Job Listings</a> &amp; Job Search Resources
        </h3>
    </div>

    <div >


        <p>
            Our Jobs section&nbsp;features job postings (on-campus and off-campus)<strong>, </strong>information on Career Fairs &amp; recruiting events, and other job-finding resources.
        </p>
        <h2>
            Resumes, Interviews, Cover Letters, and Consultations
        </h2>
        <p>
            The pages of our “Resumes, Interviews, etc.” section offer a wealth of guides, tips, and references that will help you prepare to make the best impression possible when applying for a job:
        </p>
        <ul>
            <li>
                <a href="index.php?option=com_content&amp;view=article&amp;id=774&amp;Itemid=752">Researching your audience</a>
            </li>
            <li>
                <a href="index.php?option=com_content&amp;view=article&amp;id=206&amp;Itemid=338">Effective resumes</a>
            </li>
            <li>
                <a href="index.php?option=com_content&amp;view=article&amp;id=207&amp;Itemid=339">Effective cover letters</a>
            </li>
            <li>
                <a href="index.php?option=com_content&amp;view=article&amp;id=208&amp;Itemid=340">Interviewing skills</a>
            </li>
            <li>
                <a href="documents/employment_center/self_assesment_resources_v2.pdf" target="_blank">Career exploration self-assessment resources</a>
            </li>
        </ul>
        <h3>
            Appointments
        </h3>
        <p>
            To schedule a one-on-one resume, cover letter, career exploration assessment &amp; consultation, and/or practice interview appointment, please review and follow <a href="index.php?option=com_content&amp;view=article&amp;id=602&amp;Itemid=337">the instructions provided</a>.
        </p>
        <h3>
            Additional Online Resources: Interview Practice, Website, and Portfolio
        </h3>
        <p>
            We've also made a service available where you can create your own professional website, e-portfolio, or do an online practice job interview <a href="https://ldsbc.optimalresume.com/" target="_blank">via <b>Optimal Resume</b></a>.
        </p>
        <h2>
            Career Development Conferences (CDC)
        </h2>
        <p>
            These day-long conferences replace regularly scheduled daytime and evening classes with more than 60 seminars, workshops, and activities taught or hosted by successful professionals. They are designed to prepare all LDS Business College students to successfully transition from college to career. Events typically begin at 7:40 a.m. and conclude at 8:30 p.m..
        </p>
        <p>
            Details &amp; announcements for any current &amp; upcoming conferences are available on <a href="index.php?option=com_content&amp;view=article&amp;id=213&amp;Itemid=342">the CDC page</a>, where you can also find dates, information, and links to resources for past conferences (such as the <a href="index.php?option=com_content&amp;view=article&amp;id=936&amp;Itemid=751">MyHuntPath documents</a> from the 2013 Winter/Spring conference).
        </p>


    </div>



</article>