@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<h2>
    Hours &amp; Contact Information for the LDSBC Employment and Career Center
</h2>
<p class="ContentText_Closebottom">
    We are located on the southeast side of the 4th floor of the LDSBC Campus at:
</p>
<p>
    95 North 300 West<br>
    Salt Lake City, Utah 84101
</p>
<p>
    <strong>Hours:</strong><br>
    Monday–Friday, from 8:00 a.m.–5:00:p.m.
</p>
<p>
    <strong>For more information call or email us:</strong>
</p>
<p>
    Employment Center<br>
    (801) 524-1925
</p>
<p>
    <span id="cloak95351"><a href="mailto:employmentcenter@ldsbc.edu">employmentcenter@ldsbc.edu</a></span>
    @*<script type="text/javascript">
        //<!--
        document.getElementById('cloak95351').innerHTML = '';
        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
        var path = 'hr' + 'ef' + '=';
        var addy95351 = '&#101;mpl&#111;ym&#101;ntc&#101;nt&#101;r' + '&#64;';
        addy95351 = addy95351 + 'ldsbc' + '&#46;' + '&#101;d&#117;';
        document.getElementById('cloak95351').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy95351 + '\'>' + addy95351+'<\/a>';
        //-->
                   </script>*@
</p>